/* Write your CSS here */
.main-card {
  text-align: center;
}
.items-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.items-repos-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}
